<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>Editlead.login()[pri:0, instance:wdMethods.Editlead@2038ae61]<br/></td></tr>
<tr><td>smoke</td><td>createlead.logincreate()[pri:0, instance:wdMethods.createlead@3c0f93f1]<br/></td></tr>
</table>
