<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7161c7">  <td>18/12/29 15:45:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.doClose()[pri:0, instance:wdMethods.Editlead@2038ae61]">&lt;&lt;doClose</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>18/12/29 15:44:08</td>   <td>-102311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.doLogin()[pri:0, instance:wdMethods.Editlead@2038ae61]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/12/29 15:44:35</td>   <td>-75098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Editlead.login()[pri:0, instance:wdMethods.Editlead@2038ae61]">login</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/12/29 15:45:50</td>   <td>250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createlead.logincreate()[pri:0, instance:wdMethods.createlead@3c0f93f1]">logincreate</td> 
  <td>main@841283083</td>   <td></td> </tr>
</table>
